.top-left-header {
    color: #460746;
    ;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.top-right-header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px
}
header {
    text-align: center;
    font-size: large;
}

h1 {
    position: relative;
    font-size: xx-large;
    padding: 20px;
}

section {
    text-align: center;
    width: 30%;
    margin:auto;
}

.rounded-button {
    padding: 5px 5px; /* Adjust padding to set the button size */
    border: none;
    background-color: #460746; /* Set the background color of the button */
    color: #fff; /* Set the text color of the button */
    border-radius: 5px; /* Set the radius to control the amount of rounding */
    cursor: pointer;
    font-size: 100%;
    text-decoration: none;
}

.rounded-button:hover {
    background-color: #910e91;
}

.rounded-button a{
    color:white;
}

.answers{
    width:90%;
    margin:1%;
    padding: 1%;
    background-color: #910e91;
    color:#460746
}